# Node.js
node_modules/
npm-debug.log*
.env
.env.*

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup
**/crash.log
**/*.tfplan

# OS
.DS_Store
Thumbs.db
